/*
 * Admin Styles
 */


#setting-error-tgmpa.update-nag {
	display: block;
}

.collection-settings.gallery-settings label {
	display: none;
}

.collection-settings.gallery-settings:after {
	content: 'No settings in this theme.';
}


.mauer-stills-excerpt-chars-count {
	margin: 3px 0 15px;
	text-align: left;
	font-size: 12px;
}

.mauer-stills-excerpt-chars-count i {
	font-style: normal;
}

.mauer-stills-excerpt-chars-count i.attn {
	color: #c92c2c;
	font-weight: bold;
}


/* ACF */

[data-name='logo_image'] img,
[data-name='logo_image'] .acf-image-uploader .image-wrap img {
	width: auto!important;
	max-width:200px;
	max-height:150px;
}


[data-name='og_default_image'] img,
[data-name='og_default_image'] .acf-image-uploader .image-wrap img {
	width: auto!important;
	max-width:350px;
	max-height:200px;
}

.acf-field p.description,
.acf-field-7frhskckdsown p {
	font-size: 11px;
	margin: 8px 0 0;
	color: #a1a1a1;
	line-height: 1.3;
	letter-spacing: -0.0225em;
	font-style: normal;
	font-weight: 400;
}

.acf-fields.-left > .acf-field.mauer-bigger-message:before {
	display: none;
}

.acf-field.mauer-bigger-message .acf-label {
	display:none;
}

.acf-fields.-left > .acf-field.mauer-bigger-message > .acf-input {
	width:100%;
}

.acf-field.mauer-bigger-message {
	background-color: #f9f9f9;
}

.acf-field.mauer-bigger-message .acf-input p {
	font-size: 20px;
	font-weight: 400;
	margin: 26px 0 -8px;
}

.acf-fields.-left > .acf-field.mauer-bigger-message > .acf-input {
	padding-bottom: 8px;
}

.acf-actions li {
	float:left;
	margin-left:0;
	margin-right:5px;
}

.mauer-acf-no-left-border {
	border-left: none!important;
}

::-webkit-input-placeholder {color: #b1b1b1; font-weight: 300; font-style: italic; letter-spacing: -0.0225em;} /* WebKit, Blink, Edge */
:-moz-placeholder {color: #b1b1b1; opacity: 1; font-weight: 300; font-style: italic; letter-spacing: -0.0225em;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color: #b1b1b1; opacity: 1; font-weight: 300; font-style: italic; letter-spacing: -0.0225em;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {color: #b1b1b1; font-weight: 300; font-style: italic; letter-spacing: -0.0225em;} /* Internet Explorer 10-11 */
:placeholder-shown {color: #b1b1b1; font-weight: 300; font-style: italic; letter-spacing: -0.0225em;} /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */





.ui-sortable-placeholder {
	margin-right:-10px!important;
	margin-bottom:-10px!important;
}